.contact {
  padding-bottom: 8.1rem;
  text-align: center;
}

h2 {
  margin-bottom: 1rem;
}

.contact-info {
  margin: auto;
  width: 48.6%;
  background-color: #333;
  padding: 1.62rem;
  border-radius: 16.2px;
  margin-bottom: 4.05rem;
}

.contact-info p {
  margin: 0.81rem;
  color: white;
}

.form-group {
  text-align: left;
  width: 48.6%;
  margin: auto;
}

label {
  display: block;
  margin: 0.81rem;
  color: white;
  font-size: 1.62rem;
}

input,
textarea {
  width: 100%;
  padding: 0.81rem;
  border: 1.62px solid #ccc;
  border-radius: 4px;
}

textarea {
  resize: vertical;
  height: 100px;
  margin-bottom: 3.24rem;
}

button {
  display: inline-block;
  padding: 0.81rem 1.62rem;
  color: #fff;
  background-color: #ffab00;
  border: none;
  border-radius: 16.2px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #c88604;
}
